<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmployeeWageXml" value="../../EmployeeWage.xml" />
    <add key="EmployeeScheduleXml" value="../../EmployeeSchedule.xml" />
    <add key="DayOfWeek" value="Monday" />
    <add key="LogPath" value ="../../log.txt"/>
  </appSettings>
</configuration>